.mobile{
    visibility: hidden;
}
.m{
    visibility: hidden;
}
.desktop{
    visibility: visible;
}
.kkk{
    background-color: red;
    color: white;
}
@media screen and (max-width: 700px){
    .m{
        visibility: visible;
        margin-top: -1%;
      
    }
    .desktop{
        visibility: hidden;
    }
    .mobile{
        visibility: visible;
    }
    .laptop{
        visibility: hidden;
    }
    .jjj{
        transition: 2s;
    }
}
.hlo{
   
    background-color:black;
    padding: 2px;
    width: 200px;
    height: 200px;
    border-radius: 50%;

}
.tip{
   font-size: larger;
    padding: 20px;
}



.topaccounting{
    border: 1px solid black;
    width: 100%;
    height: 500px;

}
